{% extends "layouts/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/raffles/create.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Create a Raffle</h1>
        <hr>
        {% if 'reddit_refresh_token' in session %}
            <h5 class="title is-5">First, choose your Reddit submission...</h5>
            <div class="box is-marginless">
                <p>Note that only the submissions you've created in the last 3 months are shown.<p>
                <table id="submissions-list" class="table is-fullwidth is-hoverable is-narrow">
                    <tbody></tbody>
                </table>
            </div>
        {% else %}
            <h1 class="title">First, choose a Reddit submission...</h1>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block js %}
<script defer src="{{ url_for('static', filename='js/raffles/create.js') }}"></script>
{% endblock %}
