{% extends "layouts/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/raffles/create.css') }}">
{% endblock %}

{% block content %}
<form method="POST" action="">
    <section class="section light-gray">
        <div class="container">
            <h1 class="title">Create a raffle</h1>
            <hr>
            {% if 'reddit_refresh_token' in session %}
                <h5 class="title is-5">First, choose your Reddit submission.</h5>
                <div class="box is-marginless">
                    <div id="loading-container" class="content has-text-centered">
                        <p><div class="loader"></div></p>
                        <p>Fetching your Reddit submissions...</p>
                    </div>
                    <table id="submissions" class="table is-fullwidth is-hoverable is-narrow">
                        <tbody></tbody>
                    </table>
                    <div class="content has-text-centered">
                        <div id="table-control">
                            <button type="button" id="showMore" class="button is-small is-outlined is-rounded">Show More <i class="fas fa-chevron-down fa-fw"></i></button>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1 class="title">First, choose a Reddit submission...</h1>
            {% endif %}
        </div>
    </section>
</form>
{% endblock %}

{% block js %}
<script defer src="{{ url_for('static', filename='js/raffles/create.js') }}"></script>
{% endblock %}
