#hero p {
    color: #f0f0f0;
}

.is-reddit-button {
    border-color: #ffd1c1;
    color: #fafafa;
    background-color: inherit;
    transition: 0.3s;
}

.is-reddit-button:hover, .is-reddit-button:focus {
    border-color: #ff4500;
    background-color: whitesmoke;
    color: #ff4500;
}

.cta-box {
    border-radius: 0;
}

.cta-title {
    color: white;
}

@media only screen and (max-width: 768px) {
    .has-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}
