[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest -vv tests"
migrate_db = "flask db upgrade"
start = "honcho start -f Procfile.dev"
lint = "flake8"

[packages]
flask = "==1.1.2"
flask-caching = "==1.9.0"
flask-limiter = "==1.4"
flask-migrate = "==2.7.0"
"flask-rq2" = "==18.3"
flask-sqlalchemy = "==2.4.4"
praw = "==7.1.0"
newrelic = "==5.24.0.153"
rollbar = "==0.15.1"
gunicorn = "==20.0.4"
pytest = "==6.2.1"
pytest-flask = "==1.1.0"
pytest-mock = "==3.5.1"
python-dotenv = "==0.15.0"
flask-wtf = "==0.14.3"
"psycopg2-binary" = "==2.8.6"
cssmin = "==0.2.0"
jsmin = "==2.2.2"
pyjwt = "==1.7.1"
werkzeug = "==1.0.1"
cryptography = "==3.3.1"
flask-talisman = "==0.7.0"
rq = "==1.7.0"

[dev-packages]
black = "==19.3b0"
honcho = "==1.0.1"
"flake8" = "*"
factory-boy = "*"
coverage = "*"
fakeredis = "*"

[requires]
python_version = "3.6"
