alembic==0.9.8
attrs==17.4.0
autopep8==1.3.4
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
click==6.7
croniter==0.3.20
cssmin==0.2.0
Flask==0.12.2
Flask-Assets==0.12
Flask-Caching==1.3.3
Flask-DebugToolbar==0.10.1
Flask-Limiter==1.0.1
Flask-Migrate==2.1.1
Flask-RQ2==17.2
Flask-SQLAlchemy==2.3.2
-e git+https://github.com/kennethreitz/flask-sslify.git@8c70d29474bb06688c398ccf51d0bf90503d287a#egg=Flask_SSLify
Flask-WTF==0.14.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jsmin==2.2.2
limits==1.3
Mako==1.0.7
MarkupSafe==1.0
newrelic==3.0.0.89
pep8==1.7.1
pluggy==0.6.0
praw==5.3.0
prawcore==0.13.0
psycopg2-binary==2.7.4
py==1.5.2
pycodestyle==2.3.1
pytest==3.4.1
pytest-flask==0.10.0
pytest-mock==1.7.1
python-dateutil==2.6.1
python-dotenv==0.8.2
python-editor==1.0.3
redis==2.10.6
requests==2.18.4
rq==0.10.0
rq-scheduler==0.8.1
six==1.11.0
SQLAlchemy==1.2.3
update-checker==0.16
urllib3==1.22
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.1
