.hero a {
    color: inherit;
    text-decoration: underline;
}

.hero a:hover {
    color: #e2e0e0;
}

.card {
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.card:hover {
    background-color: #fcf0ec;
}

.card-icon {
    margin-right: 2px;
}
