{% extends "layouts/base.html" %}

{% block content %}
<section class="hero is-small is-reddit">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title has-text-light">
                About
            </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="content has-text-justified">
                    <p class="title has-text-reddit has-text-centered">In A Nutshell</p>
                    <p>
                        Inspired by a <a href="https://redd.it/4re9cx">giveaway on /r/Overwatch</a> and many other "comment-to-enter" contests on Reddit, redditraffler is a free service created to serve as an impartial platform that hosts can use to select winners for their contests. redditraffler will keep a record of the winners as well as the criteria used to select them.
                    </p>
                    <p>
                        redditraffler's job is straightforward: given a Reddit submission and a set of user-defined parameters, redditraffler will randomly select winners for contest hosts and save the results. These results will be available on redditraffler.com itself and can be viewed by anyone.
                    </p>
                    <p>
                        For an example of what a raffle results page would look like, have a look at <a href="{{ url_for('raffles.show', submission_id='4re9cx') }}">this page</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="content has-text-justified">
                    <p class="title has-text-reddit has-text-centered">Using redditraffler</p>
                    <p>
                        redditraffler will always be a free service and will be available for use by anyone as long as it is financially viable to keep the website running. Side note: you can support this website by <a href="https://ko-fi.com/Z8Z1A9FB">buying me a coffee</a> :)
                    </p>

                    <p class="subtitle has-text-reddit">Verified Raffles</p>
                    <p>
                        You can use redditraffler as a guest, or you can log in with your Reddit account. Despite the options, <strong>we recommend that the author of the Reddit submission log in with their account</strong>. This way, redditraffler can verify that the raffle was created by the author of the submission (and presumably the creator of the contest). The raffle is then marked as verified so that participants can be assured that it was not a random person who generated the results.
                    </p>

                    <p class="subtitle has-text-reddit">Preconditions</p>
                    <p>
                        <strong>In order to successfully generate results, redditraffler operates under the following assumptions about your contest:</strong>
                    </p>
                    <ul>
                        <li>Your contest is "comment-to-enter", meaning anyone who comments is considered an entrant.</li>
                        <li>Your contest imposes restrictions using only information obtainable through a person's Reddit account. For example, if you only want winners who are above X years of age or winners who are in Y location, redditraffler will not be able to enforce this rule when selecting winners.</li>
                    </ul>
                    <p>
                        <strong>In addition to the above, the following assumptions are made about the Reddit submission for your contest:</strong>
                    </p>
                    <ul>
                        <li>The submission is in a public subreddit.</li>
                        <li>The submission has enough entries (comments) to choose from.</li>
                        <li>Only top-level comments are "valid" entries; replies to comments will be ignored.</li>
                        <li>Comments made by the submission's author will be ignored.</li>
                        <li>Comments that have been removed, or whose author has been banned, will be ignored.</li>
                        <li>If a user makes a top-level comment more than once in the same submission, they will be ignored.</li>
                    </ul>

                    <p class="subtitle has-text-reddit">Winner Selection</p>
                    <p>You may select up to 15 winners for your raffle. Currently, redditraffler supports selecting winners using the following criteria:</p>
                    <ul>
                        <li>Minimum account age</li>
                        <li>Minimum comment karma</li>
                        <li>Minimum post karma</li>
                    </ul>
                    <p>As redditraffler grows, we will continue adding features to the site to improve user experience as well as to give hosts more control over their contests. If you have any questions, suggestions, or if you just want to say hello, you can <a href="#contact">contact us</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
