{% extends "layouts/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base/index.css') }}">
{% endblock %}

{% block content %}
<section id="hero" class="hero is-reddit">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">redditraffler</p>
            <p class="subtitle">manage your reddit contests with ease</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="content has-text-justified">
                    <p>redditraffler aims to help you select winners for your Reddit-based contest. With Reddit submissions as a platform for hosting raffles (or giveaways, contests, sweepstakes), you can use redditraffler to select winners for "comment-to-enter" type contests.</p>
                    <p>The idea behind redditraffler is that participants should know that the winners for your contest were chosen in a fair, random manner without any human intervention. As a contest host, you can log in with your Reddit account so that we can verify that you're the one who's generating the results.</p>
                    <p>In the spirit of fairness and transparency, the source code for this website is <a href="https://github.com/timorthi/redditraffler">open-source</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered is-centered">
            <div class="column is-one-quarter">
                <div class="content has-text-centered">
                    <p><i class="fas fa-cogs fa-10x has-text-reddit"></i></p>
                </div>
            </div>
            <div class="column is-half">
                <div class="content has-text-justified">
                    <p class="title has-text-reddit">How it works</p>
                    <p>redditraffler retrieves your submission's top-level comments, along with their authors, in a random order.</p>
                    <p>With the user criteria that you'll specify, such as minimum comment karma, redditraffler will choose one or more winners for you based on how many you'd like.</p>
                    <p>The results of your raffle will be saved and be available to view for as long as this website is running.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered is-centered has-column-reverse">
            <div class="column is-half">
                <div class="content has-text-justified">
                    <p class="title has-text-reddit">Getting Started</p>
                    <p>The usage criteria for redditraffler is simple. You'll need a Reddit submission that:</p>
                    <ul>
                        <li>
                            <p><strong>is public.</strong> The subreddit on which your submission was posted can't be private, otherwise we won't be able to fetch its comments.</p>
                        </li>
                        <li>
                            <p><strong>has valid comments.</strong> The more the merrier, naturally, but redditraffler will work as long as the number of winners you specify is less than or equal to the number of valid comments.</p>
                            <p>A valid comment is:</p>
                            <ul>
                                <li>a root (top-level) comment.</li>
                                <li>not made by the author of the submission.</li>
                                <li>not deleted (has a comment body).</li>
                                <li>a comment whose author is not banned or deleted.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        Apart from that, all you'll need is a small set of requirements that entrants need to meet in order to be eligible for your contest. Currently, redditraffler supports these user criteria:
                        <ul>
                            <li>Minimum account age</li>
                            <li>Minimum comment karma</li>
                            <li>Minimum link karma</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="content has-text-centered">
                    <p><i class="far fa-play-circle fa-10x has-text-reddit"></i></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="#cta" class="box is-reddit">
    <div class="container has-text-centered">
        <h1 class="title cta-title">Ready to begin?</h1>
        {% if 'reddit_refresh_token' in session %}
        <a class="button reddit-login is-outlined" href="{{ url_for('raffles.create') }}">
            <i class="fab is-reddit-button fa-fw"></i> Continue as /u/{{ session['reddit_username'] }}</a>
        {% else %}
        <a class="button is-reddit-button is-outlined" href="{{ reddit_login_url }}">
            <i class="fab fa-reddit fa-fw"></i> Login with Reddit</a>
        <a class="button is-reddit-button is-outlined" href=" {{ url_for('raffles.create') }}">Continue as Guest</a>
        {% endif %}
    </div>
</div>
{% endblock %}
