{% extends "layouts/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base/index.css') }}">
{% endblock %}

{% block content %}
<section id="hero" class="hero is-reddit">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">redditraffler.com</p>
            <p class="subtitle">manage your reddit contests with ease</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered is-centered">
            <div class="column is-one-quarter">
                <div class="content has-text-centered">
                    <p><i class="fas fa-cogs fa-10x has-text-reddit"></i></p>
                </div>
            </div>
            <div class="column is-half">
                <div class="content has-text-justified">
                    <p class="title has-text-reddit">How it works</p>
                <p>redditraffler retrieves your submission's top-level comments, along with their authors, in a random order.</p>
                <p>With the user criteria that you'll specify, such as minimum comment karma, redditraffler will choose one or more winners for you based on how many you'd like.</p>
                <p>The results will be saved and kept for as long as this website is running. The idea behind redditraffler is that your participants should know that the winners for your contest were chosen in a fair, random manner without any human bias.</p>
                </div>
            </div>
        </div>
    </div>
</section>

    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Ready to raffle?</h1>
        {% if 'reddit_refresh_token' in session %}
            <a class="button reddit-login is-outlined" href="{{ url_for('raffles.create') }}">
                <i class="fab fa-reddit fa-fw"></i> Continue as /u/{{ session['reddit_username'] }}</a>
        {% else %}
            <a class="button reddit-login is-outlined" href="{{ reddit_login_url }}">
                <i class="fab fa-reddit fa-fw"></i> Login with Reddit</a>
            <a class="button is-dark is-outlined" href=" {{ url_for('raffles.create') }}">Continue as Guest</a>
        {% endif %}
    </div>
</section>
{% endblock %}
