.hero a {
    color: inherit;
    text-decoration: underline;
}
.hero a:hover { color: #e2e0e0; }

.raffle-box {
    transition: 0.2s ease;
}

.raffle-box:hover {
    background-color: #fcf0ec;
    cursor: pointer;
}

.raffle-date {
    text-align: right;
}

#table-control { display: none }
