{% extends "layouts/base.html" %}


{% block content %}
<section class="hero is-small is-reddit">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title has-text-light">
                /u/{{ user.username }}'s raffles
            </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {% if raffles %}

        {% else %}
        <div class="content has-text-centered">
            <p><i class="far fa-frown fa-4x has-text-reddit"></i></p>
            {% if session['reddit_username'] == user.username %}
            <p>This page is empty because you haven't created any raffles with your account.</p>
            <p>If you'd like to get started, <a href="{{ url_for('raffles.new') }}">click here!</a></p>
            {% else %}
            <p>This page is empty because this user hasn't created any raffles with their account. Check back some other time!</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

