{% extends "layouts/base.html" %} {% block content %}
<section id="hero" class="hero hero-bg is-medium is-reddit">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img
        src="{{ url_for('static', filename='img/brand_textonly_white.svg') }}"
      />
      <p class="subtitle">the raffle system for reddit submissions</p>
    </div>
  </div>
</section>

<section class="section">
  <div id="raffle-stats-root"></div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        <div class="content has-text-justified">
          <p>
            redditraffler helps you select winners for your Reddit-based
            contest. When you host raffles (or giveaways, contests, sweepstakes)
            via Reddit submissions, you can use redditraffler to select winners
            for "comment-to-enter" type contests.
          </p>
          <p>
            The idea behind redditraffler is that participants should know that
            the winners for your contest were chosen in a fair, random manner
            without any human intervention. As a contest host, you can log in
            with your Reddit account so that we can verify that you're the one
            who's generating the results.
          </p>
          <p>
            In the spirit of fairness and transparency, the source code for this
            website is
            <a href="https://github.com/timorthi/redditraffler">open-source</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="#cta" class="box cta-box is-reddit">
  <a name="create"></a>
  <div class="container has-text-centered">
    <h1 class="title cta-title">Ready to begin?</h1>
    {% if 'jwt' in session and 'reddit_username' in session %}
    <a
      class="button is-reddit-button is-outlined"
      href="{{ url_for('raffles.new') }}"
    >
      <i class="fab fa-reddit fa-fw"></i> Continue as /u/{{
      session['reddit_username'] }}</a
    >
    {% else %}
    <a
      class="button is-reddit-button is-outlined"
      href="{{ reddit_login_url }}"
    >
      <i class="fab fa-reddit fa-fw"></i> Login with Reddit</a
    >
    <a
      class="button is-reddit-button is-outlined"
      href=" {{ url_for('raffles.new') }}"
      >Continue as Guest</a
    >
    {% endif %}
  </div>
</div>
{% endblock %} {% block js %} {{ import_webpack_entrypoint('base/index') | safe
}} {% endblock %}
