/* App-wide styles here */
/* Colors:
* True Reddit: #ff4500;
* Reddit, lighter shade: #ff7644;
*/

/**** General ****/
html {
  height: 100%;
  background-color: whitesmoke;
}

.is-white {
  background-color: white;
}

.has-text-reddit {
  color: #ff7644;
}

.is-reddit {
  background-color: #ff7644;
  color: white;
}

.reddit-button {
  color: inherit
}

.reddit-button:hover, .reddit-button:active {
  color: #ff4500;
}
/**** End General ****/

/**** Header ****/
#nav-container {
  width: 70%;
}

#brand:hover {
  text-decoration: none;
}

#nav-github {
  color: white;
  transition: 0.3s;
}

#nav-github:hover {
  color: #333;
}

a.navbar-item,
a.navbar-brand,
a.navbar-link {
  color: white;
}

a.navbar-link:hover {
  color: white;
  text-decoration: none;
  background-color: #ff7644;
}

a.navbar-link::after {
  border-color: white;
}

a.navbar-item:hover,
a.navbar-item.is-active {
  color: white;
  background-color: transparent;
}

.navbar-brand:hover {
  background-color: transparent;
}

/* User dropdown overrides */
.navbar-item:hover {
  text-decoration: underline;
  background-color: transparent;
}

.navbar-item.has-dropdown:hover .navbar-link {
  cursor: default;
  background-color: transparent;
}

.navbar-dropdown {
  border-top: none;
  background-color: #ff7644;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: inherit;
  color: white;
}
/* End User dropdown overrides */

@media only screen and (max-width: 1023px) {
  #nav-container {
    width: 100%;
  }

  /* User dropdown overrides */
  a.navbar-link {
    cursor: default;
  }

  .navbar-item.has-dropdown:hover {
    text-decoration: none;
  }

  .navbar-item.has-dropdown:hover .navbar-item:hover {
    text-decoration: underline
  }
  /* End User dropdown overrides */
  /* Burger menu overrides */
  .navbar-menu {
    background-color: #ff7644;
  }

  nav .button,
  nav .button:focus,
  nav .button:active,
  nav .button.is-active {
    border-color: white;
    color: white;
  }

  nav .button:active,
  nav .button:hover,
  nav .button.is-active,
  nav .button.is-hovered {
    color: white;
  }

  nav .button:focus:not(:active),
  nav .button.is-focused:not(:active) {
    box-shadow: none;
  }
  /* Burger menu overrides */
}
/**** End Header ****/

/**** Footer ****/
.footer-icon {
  color: #4a4a4a;
  transition: 0.3s;
}

.footer-icon-github:hover {
  color: #333;
}

.footer-icon-mail:hover {
  color: #dd4b39;
}

.footer-icon-reddit:hover {
  color: #ff4500;
}
/**** End Footer ****/

/**** Bulma Overrides ****/
.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ff4500;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff4500 transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/**** End Bulma Overrides ****/
