{% extends "layouts/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">Run raffles with Reddit.</h1>
        <h2>redditraffler.com helps you choose winners.</h2>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Ready to raffle?</h1>
        <a class="button reddit is-outlined"><i class="fab fa-reddit fa-fw"></i> Login with Reddit</a>
        <a class="button is-dark is-outlined">Continue as Guest</a>
    </div>
</section>

{% endblock %}
