<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <a href="https://bulma.io"><img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24"></a>
            </p>
            <p>
                <b>redditraffler.com</b> is developed and maintained by
                <a href="https://reddit.com/u/xozzo">/u/xozzo</a>.
            </p>
            <p>
                Got suggestions? Having technical issues? Just want to say hi?
            </p>
            <p>
                <a class="footer-icon footer-icon-github" href="https://github.com/timorthi/redditraffler/issues/new"><i class="fab fa-github fa-2x fa-fw"></i></a>
                <a class="footer-icon footer-icon-mail" href="mailto:admin@redditraffler.com"><i class="far fa-envelope fa-2x fa-fw"></i></a>
                <a class="footer-icon footer-icon-reddit" href="https://www.reddit.com/message/compose?to=xozzo"><i class="fab fa-reddit fa-2x fa-fw"></i></a>
            </p>
        </div>
    </div>
</footer>
