<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>Server Time (UTC): <span id="clock"></span></p>
            <p>
                <b>redditraffler.com</b> is developed and maintained by
                <a href="https://reddit.com/u/xozzo">/u/xozzo</a>.
            </p>
            <p>
                <a class="footer-icon footer-icon-github" href="https://github.com/timorthi/redditraffler"><i class="fab fa-github fa-fw"></i></a>
                <a class="footer-icon footer-icon-mail" href="mailto:admin@redditraffler.com"><i class="far fa-envelope fa-fw"></i></a>
                <a class="footer-icon footer-icon-reddit" href="https://www.reddit.com/u/redditraffler"><i class="fab fa-reddit fa-fw"></i></a>
            </p>
            <p>
                <a href='https://ko-fi.com/Z8Z1A9FB' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
            </p>
            <p id="copyright">
                Copyright &copy; <span id="year"></span> redditraffler.com. All rights reserved.
            </p>
        </div>
    </div>
</footer>
