<nav class="navbar is-reddit" role="navigation" aria-label="main navigation">
    <div id="nav-container" class="container">
        <div class="navbar-brand">
            <a id="brand" class="navbar-item" href="{{ url_for('base.index') }}">
                <h1>redditraffler</h1>
            </a>

            <button class="button navbar-burger is-reddit" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ url_for('base.index') }}">Home</a>
                <a class="navbar-item" href="{{ url_for('base.about') }}">About</a>
                <a class="navbar-item" href="{{ url_for('raffles.index') }}">Raffles</a>
                <a class="navbar-item" href="{% if 'reddit_refresh_token' in session %} {{ url_for('raffles.new') }} {% else %} {{ url_for('base.index',_anchor='create') }} {% endif %}">Create</a>
                {% if 'reddit_refresh_token' in session %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{ session['reddit_username'] }}
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ url_for('users.show', username=session['reddit_username']) }}">
                            Profile
                        </a>
                        <a id="logout" class="navbar-item">
                            Log Out
                        </a>
                    </div>
                </div>
                <form id="logout-form" style="display:none" action="{{ url_for('auth.logout') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </form>
                {% endif %}
                <a id="nav-github" class="navbar-item" title="View on GitHub" href="https://github.com/timorthi/redditraffler">
                    <i class="fab fa-github fa-fw fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

